body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(48deg, rgba(31,21,69,1) 26%, rgba(70,16,16,1) 100%);
}
#navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background: linear-gradient(236deg, rgba(237,152,255,1) 0%, rgba(126,113,238,1) 100%);
    position: sticky;
    top: 0;
    z-index: 100;
}

#navbar>div{
    /* border: solid red; */
    width:50%;
    display: flex;
    justify-content: space-around;
}

#navbar>div>a>h1{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
#navbar>div>a{
    text-decoration: none;
}








/* ******************************************************* */


#body{
    /* border:1px solid pink; */
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#section{
    width:50%;
    margin-left: 350px;
}
#first{
    border: 1px solid brown;
    font-size: 30px;
    width:80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(114, 97, 97); */
    color: aquamarine;
    
}

#sec1{
    color: white;
    text-align: center;
    font-size: 40px;;
    border:1px solid yellow;
    width:90%;
    margin-left: 70px;
    height:320px;
    background-color: #9575cd;

}
#sec2{
    border:1px solid yellow;
    /* position: absolute; */
    width:90%;
    margin-left: 70px;
    height:320px;
    /* margin: auto; */
    margin-top: 60px;
    background-color: #9575cd;
    color: white;
    text-align: center;
    font-size: 40px;;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
#sec3{
    border:1px solid yellow;
    width:90%;
    margin-left: 70px;
    height:320px;
    /* margin: auto; */
    margin-top: 60px;
    background-color: #9575cd;
    color: white;
    text-align: center;
    font-size: 40px;;
}
#sec4{
    border:1px solid yellow;
    width:90%;
    margin-left: 70px;
    height:320px;
    /* margin: auto; */
    margin-top: 60px;
    background-color: #9575cd;
    color: white;
    text-align: center;
    font-size: 40px;;
}
#sec5{
    border:1px solid yellow;
    width:90%;
    margin-left: 70px;
    height:320px;
    /* margin: auto; */
    margin-top: 60px;
    background-color: #9575cd;
    color: white;
    text-align: center;
    font-size: 40px;;
}

#image{
    border:1px solid yellow;
    width:400px;
    height:400px;

   
    /* z-index: 100px; */
}
#image>img{
    width: 100%;;
    height: 100%;;
}


/* CSS */
.button-resume {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:40%;
  
}

.button-resume:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-resume:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-resume {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}



@media all and (min-width: 320px) and (max-width: 480px) {

    #navbar{
        height: 100px;
        width: 100%;;
        display: flex;
        flex: wrap;
        justify-content: space-between;
        /* gap: 40px; */
        background: linear-gradient(236deg, rgba(237,152,255,1) 0%, rgba(126,113,238,1) 100%);
        position: sticky;
        top: 0;
        z-index: 100;
    }
    
    #navbar>div{
        /* border: solid red; */
        width:50%;
        display: flex;
        justify-content: space-around;
    }
    #navbar>div>a>h1{
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    #navbar>div>a{
        text-decoration: none;
    }

}